.App {
  background-color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  padding: 2em;
  margin: 1em;
  background-color: var(--cardBg);
  box-shadow: var(--level-3);
  border-radius: var(--borderRadius);
}
